#landingPage, #about {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  padding-top: 55px;
  background: #f8f8f8;
}

a:hover {
  color: #2d2828 !important;
}

.nav-link {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #484747;
}

.navbar-nav {
  margin: 20px 60px 0 0;
}

.transition {
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.bg {
  width: 100%;
  height: 100px;
  opacity: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.show {
  opacity: 1;
}

.transition {
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#landingPage {
  background: url("../images/mountain.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .landing-page {
   margin: 50px 0 0 150px;
   color: #484747;
 }

.fullname {
  font-family: 'Anton', sans-serif;
  font-size: 170px;
}

.fullname p {
  margin-bottom: -45px;
}

.description {
  font-family: 'Anton', sans-serif;
  font-size: 55px;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 2px;
}

.about-heading {
  font-family: 'Anton', sans-serif;
  font-size: 55px;
  color: #484747;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 70px;
}

img.box {
  height: 270px;
  width: 270px;
  line-height: 100px;
  border-radius: 100%;
  padding: 10px;
  text-align: center;
  margin:0 auto;
  opacity: 0.8;
}

.skills-image {
  margin-top: 185px;
  text-align: center;
}

.initial-icon {
	position: relative;
}

.rotating-icon {
	display: none;
}

footer {
  background: url("../images/mountain.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h2 {
  color: white;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Anton', sans-serif;
}

.contact-icons article {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px 0 30px;
}

.contact-icons {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #484747;
  letter-spacing: 1.5px;
  font-family: 'Anton', sans-serif;
}

.fa.fa-linkedin-square.fa-4x, .fa.fa-envelope-square.fa-4x, .fa.fa-github-square.fa-4x {
  text-decoration: none;
  color: #484747;
}
