nav ul li {
  display: inline;
  list-style: none;
}

h1 {
  margin: 0;
}

img.box {
  height: 150px;
  width: 150px;
  line-height: 100px;
  border-radius: 100%;
  padding: 10px;
}

.projects-display-animal {
  height: 100%;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.projects-display-shop {
  height: 100%;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

/*.projects-display-blog {
  height: 100%;
  width:100px;
  margin-left: auto;
  margin-right: auto;
}*/


#main, #projects, #about, #contact {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
}

nav {
  font-family: helvetica, sans-serif;
  font-size: 20px;
  width: 100%;
  position: fixed;
  padding: 10px;
  color: rgb(6, 187, 132);
  text-align: right;
  background-color: rgba(255,255,255,0.5);
}

li a.nav-my-name {
  position: fixed;
  top: -8px;
  left: 24px;
/*  display: inline-block;
  float: left;*/
  letter-spacing: 2px;
  color: #9D9D9D;
  text-decoration: none;
  text-align: center;
/*  border-bottom: 5px solid #9D9D9D;*/
  font-size: 25px;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 15px;
  list-style: none;
}

.nav-info a {
  display: inline-block;
  padding-right: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  /*border-bottom: 5px solid #9D9D9D;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  text-align: right;
}

.navbar-inverse {
  border-color: none; 
  background-color: rgba(255,255,255,0.5);
}

ul.nav.navbar-nav {
  position: fixed;
  top: 2px;
  padding-right: 16px;
  right: 5px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: none;
  border-color: none;
}

#main {
  background: url('../images/home.png') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
}

img.name-heading {
  margin: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


#about p{
  border-bottom: 1px black solid;
  padding: 10px 20px;
  text-align: justify;
}

#projects {
  background-color: white;
}

#contact {
  background: url('../images/forest.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.letschat img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  opacity: 0.5;
  display:block;
  margin-right: auto;
  margin-left: auto;
}

#form-main {
  width: 500px;
  height: 100%;
  padding: 60px;
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}

input#name, #email {
  width: 400px;
  border-radius: 5px;
  border: none;
}

textarea#comment {
  width:400px;
  border-radius: 5px;
  border: none;
}




